# Vivado Files
reservoir_project
dfr_core_project
mac_project
matrix_multiply_project
asic_function_project
asic_function_system_project
dfr_core_hybrid_system_project
dfr_core_system_project
dfr_core_hybrid_project
*.jou
*.log
*.wdb
*.pb
xsim.dir
.Xil
*.str
logs
*.debug
vivado_pid*

# Vitis HLS Files
# dfr_core_solution
# proj_dfr_core

# Vitis Files
.metadata
hello_world_test_app*
/vitis/neuromorphic
.analytics
RemoteSystemsTempFiles
petalinux_neuromorphic
test_linux_app
test_linux_app_system
asic_function_system_platform
asic_function_system_test_app
asic_function_system_test_app_system
dfr_core_system_platform
dfr_core_system_test_app
dfr_core_system_test_app_system

# PetaLinux Files
/embedded_linux/neuromorphic_peta_linux
/embedded_linux/demo_petalinux
embedded_linux/avnet-digilent-zedboard-v2020.2-final.bsp
misc/.~lock.xadc_timings.ods#
